<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_pageTitle.ejs %>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_navBar.ejs %>
    <div class="container">
      <form class="Login" action="/users/update" method="POST">
      <div class="form-group-login">
         <label for="name" style="color:burlywood;">Name:</label>
         <input type="text" name = "name" class="form-control" id="name">
       </div>
       <div class="form-group-login">
         <label for="email" style="color:burlywood;">Email address:</label>
         <input type="email" name = "userEmail" class="form-control" id="email">
       </div>
       <div class="form-group-login">
         <label for="pwd" style="color:burlywood;">Password:</label>
         <input type="password" name = "userPassword" class="form-control" id="pwd">
       </div>
       <button type="submit" class="btn btn-default">Update</button>
     </form>
   </div>
  </body>
</html>
