body {
  background-color: #2d2b2b;
  padding-top: 4.5em;
}

#main-container {
  padding: 10% 1%;
  background-color: #2d2b2b;
}

div.card{
  border-radius: 20px;
}

.card-block{
  border-radius: 20px;

}

iframe {
  width: 100%;
}

.card-block:hover{
  border: 1px solid black;
  box-shadow: 3px 5px 5px #7c7c7c;
}
.url-image {
    width: 100%;
}
.likes-heart {
  color: red;
}

.likes-button {
  padding: 2px;
  border-radius: 5px;
}

.likes-button:hover {
  background-color: #ec6f85;
}

// .url-rating {
  //   span.stars, span.stars span {
  //     display: block;
  //     background: url(/images/stars.png) 0 -16px repeat-x;
  //     width: 80px;
  //     height: 16px;
  // }
  //
  // span.stars span {
  //     background-position: 0 0;
  // }
// }

  h1 {
    color: #244751;
}
