body {
  background-color: #2d2b2b;
  padding-top: 4.5em;
}

#main-container, #my-container {
  padding: 5% 1%;
  background-color: #2d2b2b;
}

div.card{
  border-radius: 20px;
}

.card-block{
  border-radius: 20px;

}

iframe {
  width: 100%;
}

.card-block:hover{
  border: 1px solid black;
  box-shadow: 3px 5px 5px #7c7c7c;
}
.url-image {
    width: 100%;
}
.fa fa-heart {
  color: red;
}

.likes-button {
  font-family: arial sans-serif;
  color: red;
  padding: 2px;
  width: 35px;
  cursor: pointer;

}

.likes-button:hover {
  background-color: #ec6f85;
}

.c-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-rating__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background: url("../img/stars.svg");
  background-position: 0 0;
}

.c-rating__item:hover,
.c-rating__item.is-active {
  background-position: -24px 0;
}

  h1 {
    color: #244751;
}
