body{
  background-image: url("/images/bg.gif");
  background-repeat: no-repeat;
  background: cover;
}

button.btn.btn-primary.btn-md{
  float:right;
  margin-right: 10px;
  margin-top: -40px;
}

#register-button{
  margin-top: -440px;
}

div.container{
  margin-top: 200px;
  margin-left: 340px;
}

div.form-group-login{
  width:50%;
}
