div.container-fluid {

}

button.btn.btn-primary.btn-md {
  margin-top: 7px;
}

.submit-url {
  //height: 137px

}
#home-button a {
    background-color: #222;
    /* background-color: #080808; */
}

#searchInput {
  width: 100%;
}
